#apply_reveal.reveal.small{'data-reveal' => '', 'data-animation-in' => 'scale-in-up', 'data-animation-out' => 'hinge-out-from-top'}
  %button.close-button{'data-close' => '', 'aria-label' => 'Close Modal', type: 'button'}
    %span{'aria-hidden' => 'true'} &times;
  = render 'applicants/application_form'
