#intro
#we_are
  .row
    .medium-4.columns
      %h3 Learn code
      %p Are you a tech enthuasist ? Having you ever wished to learn how to code in an intreactive and interesting way? Then you are probably in the right place. At code9ty we learn code, have fun and supercharge our brains.
    .medium-4.columns
      %h3 Why 90
      %p code9ty in an interactive program with people form diverse background, anyone be accepted in it. 90 represents 90 days of continuous of fun and coding,during the duration we ensure that we write code daily and commit daily in our github accounts. We also learn new ideas daily and gather wide variety of knowlegde and the most exciting part of it is the bonding and mad fun that happen during our Keep awake sessions
    .medium-4.columns
      %h3 Prerequisite 
      %p Before you apply kindly ensure that :-
      %p You are interested in learning new ideas
      %p Are available for 90 days
      %p You have a working laptop
#apply
  %h2 Application Open!
  %button.button.success{'data-open' => 'apply_reveal'}
    Apply Now!
  - render "application_reveal"

#cohort
  %h2 Check this out
  .row.collapse.medium-9.columns
    .small-up-1.medium-up-4
      - 8.times do
        .column
          .item-wrap
            = image_tag 'girl.jpg', class: 'thumbnail'
            .overlay
              %h3 Lorem 
#videos
  %h2 What they had to say
  -# .flex-video.vimeo
  -#   %iframe{ width: '400', height: '225', src: 'https://player.vimeo.com/video/388727', frameborder: '0' }

%footer#footer
