#intro
#we_are
  .row
    .medium-4.columns
      %h3 Learn code
      %p Are you interested in coding ? Then you are in the right place. In code9ty we learn how to build Web Applications in an interactive and fun way!
    .medium-4.columns
      %h3 Why 90
      %p Code9ty in an interactive  and diverse program that involves intense coding for 90 consecutive days. You get to keep track of your daily progress using the useful version control software-Git. All this sums up to 90 days of supercharging your brains with technologies that will make you one of the best rails developers around. 
    .medium-4.columns
      %h3 Prequalification
      %p Before you apply kindly ensure that :-
      %p You are interested in learning new ideas
      %p Are available for 90 days
      %p You have a working laptop
#apply
  %h2 Application Open!
  %button.button.success{'data-open' => 'apply_reveal'}
    Apply Now!
  - render "application_reveal"

#cohort
  %h2 Check this out
  .row.collapse.medium-9.columns
    .small-up-1.medium-up-4
      - 8.times do
        .column
          .item-wrap
            = image_tag 'girl.jpg', class: 'thumbnail'
            .overlay
              %h3 Lorem 
#videos
  %h2 What they had to say
  -# .flex-video.vimeo
  -#   %iframe{ width: '400', height: '225', src: 'https://player.vimeo.com/video/388727', frameborder: '0' }

%footer#footer
