<p>Hello <%= @user.first_name %>,</p>
<p>I hope you are still excited by the many things that you are learning.Stories aside,
There is a brand new project that has just been released. Check it out on your dashboard and try it out.
Trying doesn't kill, right?
</p>
<p>Keep the ball rolling !!!</p>

<small>Sending this email was made possible, coded and designed by <%= link_to 'StellaMaris', 'https://github.com/stlmaris123' %>, a member of cohort A of <strong>#code9ty</strong></small>
<p><b>Cheers!!</b></p>
<p>Sigu Magwa</p>
