<p>Hi <%= @user.first_name %></p>
<p>I have given you an assignment based on what we have been learning. Check it out and 
do it to avoid getting into trouble with your supervisor</p>

<p><b>Regards,</b></p>
<p>Sigu Magwa</p>
