<p>Habari yako <%= @user.first_name %>?</p>
<p>Good News !!</p>
<p>The project you requested has just been approved and you can start working on it now
. In case of any trouble feel free to contact any of the code9ty members</p>

<p>Keep calm and code on!!!</p>
<p><strong>Cheers</strong></p>
<p>Sigu Magwa</p>
