<h1> Guys Accepted for interview</h1>
There are <%= pluralize(@applicants.count, "interviewee") %> so far
<table>
    <tr>

        <th>Name</th>
        <th>Github</th>
    </tr>
    <% @applicants.each do |geek| %>
        <tr>
            <td> <%= geek.first_name %></td>
            <td><%= geek.github %></td>
        </tr>
    <% end %>
</table>
