<h1>Applicants for Code90</h1>
There are <%= pluralize(@applicants.count, "applicant") %> so far
<table>
    <tr>
        <th>Name</th>
        <th>Github</th>
        <th>Accept?</th>
    </tr>
    <% @applicants.each do  |geek| %>
        <tr>
            <td><%= geek.first_name %></td>
            <td><%= geek.github %></td>
            <td><%= link_to "YES",accept_path(geek: geek.id, status: "accept") %></td>
        </tr>
    <% end %>
</table>

