<% provide(:title, "Apply")%>
<div class='medium-8 medium-centered columns'>
  <h1>Apply here!!!!</h1>
  <% if @applicant.errors.any? %>
    <% @applicant.errors.full_messages.each do |msg| %>
      <ul>
        <li>
          <%= msg %>
        </li>
      </ul>
    <% end %>
  <% end %>

  <%= render "application_form" %>
</div>
