<% provide(:title, "Apply")%>
<% set_meta_tags description: "Apply to join code9ty for the best learning
experience. We make it fun :-) "  %>
<% set_meta_tags image_src: 'https://s3-us-west-2.amazonaws.com/code9ty/learn.jpg'
%>
<% set_meta_tags keywords: %w[learn code apply kisumu kenya ruby rails
attachment internship] %>

<div class='row'>
  <div class='medium-8 medium-centered'>
    <p>
    In brief these are some of the things you need to know:
    </p>
    <ul>
      <li>
        You should be available everyday from start date to the last day
      </li>
      <li>
        You should have a working laptop :-)
      </li>
      <li>
        You DO NOT need prior knowledge in programming to be considered. Come on! We will make you the GURU
      </li>
    </ul>
    <p>
    Please note that for this cohort we are charging a facilication fee of Ksh. 30,000.00 for the 3 months. However on the reporting
    day you must have Ksh.20,000. The rest can be completed within the first 4 weeks.
    </p>
    <h4>Student?</h4>
    <p>
    For students we have a 66% discount, for the whole duration you pay Kshs. 10,000.00
    </p>
  </div>
</div>
<div class='row'>
  <div class='medium-8 medium-centered columns'>
    <h1>Apply here</h1>
    <% if @applicant.errors.any? %>
      <% @applicant.errors.full_messages.each do |msg| %>
        <ul>
          <li>
            <%= msg %>
          </li>
        </ul>
      <% end %>
    <% end %>

    <%= render "application_form" %>
  </div>
</div>
