<%# |<%= link_to "All", applicants_path %1>| %>
<div class= row>
<div class="medium-6 colums medium-offset-3">
Hello  <%= @applicant.first_name  %>!!!
<p> Thank you for applying for #code90.
An email has been sent to your account</p>
<p> Here are some of the things we need you to do though</p>
<ul>
    <li>If you are unfamiliar with github, you hate to some basic concepts and how to navigate through it.</li>
    <li>Write your resume(CV) in html and css and post it on your github account</li>
    <li>If you are shortlisted, your PC should have linux based operating system installed in it, preferably Ubuntu. </li>
</ul>
<p> Good luck  Cheers!!</p>
<p> (Admin)
</div>
</div>
