|<%= link_to "All", applicants_path %>|
Hello  <%= @applicant.name  %>!!!
<p> Thank you for applying for code 90.
A random tarry will be made and the shortlisted guys will be informed<p>
<p> Here are some of the things we need you to do though</p>
<ul>
    <li>If you are unfamiliar with github learn to nagivate through it and its basic concepts</li>
    <li>Write your resume(CV) in html and css and post it to github</li>
    <li>If you are shortlisted, your PC should have linux operating system installed , prefferably Ubuntu </li>
</ul>
<p> Good luck  Cheers!!</p>
