<table>
    <thead>
        <tr>
            <th>Project</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <% @projects.each do |project| %>
        <tr>
            <td><%= project.title  %></td>
            <td><%= link_to "#{project.link}", project.link, target: "_" %></td>
            <td> <%= time_ago_in_words(project.due_date) %></td>
            <% if current_user.projects.include? project %>
                <td>Assigned</td>
            <% else %>
                <td><button class="button small" id="request-button">Request</button></td>
            <% end %>
        </tr>
    <% end %>
</table>
