<div class="row" id="mail">
    <div class="medium-6 columns medium-offset-3">
        <h1>#CODE9TY APPLICATION RECEIVED</h1>

        <p> Hey <%= @applicant.first_name %>, </p>
        <p>Thank you for showing interest in #code9ty. This is where you learn code, love it and live it</p>
        <p>All successful applicants will be contacted by the first week of September</p>
        <p>Meanwhile, checkout <%= link_to "what we cover", what_we_learn_url %> to learn more about the program</p>

        <p>All successful applicants will pay a subsidised facilitation fee of Kshs. 6,000.00.
        However, only Ksh. 3,000.00 will be required on the start date and the rest of the payment within
        the first 4 weeks</p>

        <small>Sending this email was made possible, coded and designed by <%= link_to 'StellaMaris', 'https://github.com/stlmaris123' %>, a member of cohort A of <strong>#code9ty</strong></small>
        <p><b>Cheers!!</b></p>
        <p>Sigu Magwa</p>
    </div>
</div>
