<h1>You made it!!</h1>


<p>
Congratulations <%= @applicant.first_name %>,</p>
 You were accepted to code9ty cohort B application.</p>
 <p>Click on the link below to create your account</p>
  <%= link_to "Sign Up", signup_url(email: @applicant.email) %>
</p>
