body {
    color: #34495E !important;
}
.off-canvas {
    height: 100%;
    padding-top: 50px;
}
.off-canvas-wrapper-inner, .off-canvas-wrapper{
  height: 100%;
}
.close-button {
    color: white;
}
#messages{
    color: white;
    .close-button {
      color: white;
    }
}
#messages.alert {
    background-color: #ff2700;
}
#messages.success {
    background-color:#00cc49; 
}
