body {
    color: #34495E;
}
.off-canvas {
    height: 100%;
    padding-top: 50px;
}
.off-canvas-wrapper-inner, .off-canvas-wrapper{
  height: 100%;
}
.close-button {
    color: white;
}
.sticky-container {
  background-color: #2C3840;

}
.top-bar {
  background-color: #2C3840;
  a {
    color: white;
    // border-top: 4px solid #2C3840;
    border: 4px solid #2C3840;
    // border-bottom: 4px solid #2C3840;
    transition: border-bottom 1s;
    &:hover, &:focus {
      color: #1585cf;
      color: white;
      // background: #3ADB76;
      border-bottom: #3ADB76 solid 4px;
    }
    .fa-home {
      font-size: 1.4em;
    }
  }
  ul {
    background-color: inherit;
    /* color: white; */

  }
}
#messages{
    color: white;
    .close-button {
      color: white;
    }
}
#messages.alert {
    background-color: #ff2700;
}
#messages.success {
    background-color:#00cc49; 
}
#top_row {
    margin-top: 20px;
    margin-bottom: 100px;
}
