// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gravatar{
    border-radius: 70%;
}
#msg {
    text-align: center;
    background: #34495E;
    color: white;
    padding-top: 32.5px;
    padding-bottom: 50px;
}
#prof {
    background: #672847;
}
