<% flash.each do |flash_type, flash_message| %>
  <div id="messages" class="callout  <%= flash_type %>" data-closable='hinge-out-from-top'>
    <%= flash_message %>
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
